<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete eaoe account</title>
</head>
<body>
  <div class="content">
    <h1>Delete account</h1>
    <p>{{ msg }}</p>
      <form action="" method="post">
        <input type="text" name="psw">
        <input type="submit" value="Delete account" style="color: red">
      </form>
  </div>

  <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
      });
  </script>
</body>
</html>