<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Eaoe Mail</title>
</head>
<body>
  <div class="content">
    <h1>My Eaoe Mail</h1>
    Welcome {{ session['u'] }}!</br>
    Your email is {{ session['e'] }}.</br></br>
    <a href="inbox">Inbox</a>
    <a href="../mail/create">New</a>
    <a href="../mail/sent">Sent</a>
    <a href="settings">Settings</a>
  </div>

  <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
      });
  </script>
</body>
</html>